@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .menu-link {
    @apply relative transition-colors duration-300;
  }
  .menu-link::after {
    content: "";
    @apply absolute left-0 -bottom-1 h-0.5 w-full origin-left scale-x-0
      bg-gradient-to-r from-primary to-accent transition-transform duration-300;
  }
  .menu-link:hover::after,
  .menu-link-active::after {
    @apply scale-x-100;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer base{
body {
  @apply h-full text-secondary font-sans antialiased;
  @apply bg-gray-50 text-gray-800;
  font-family: system-ui, sans-serif;
 }
}